/* ================= FOOTER ================= */
.fo {
  background: #ffffff;
  padding: 1px 0;
}

.footer {
  background:#212121;
  color: #e0e0e0;
  padding: 70px 35px;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  margin: 40px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1.4fr repeat(4, 1fr);
  gap: 50px;
}

/* BRAND */
.footer-brand .logo {
  font-size: 28px;
  font-weight: 600;
}

.footer-brand .logo span {
  font-weight: 700;
}

.footer-brand small {
  display: block;
  font-size: 10px;
  margin-top: 4px;
  opacity: 0.8;
}

.footer-brand p {
  font-size: 14px;
  line-height: 1.7;
  margin: 20px 0 25px;
  color: #cfcfcf;
}

.socials {
  display: flex;
  gap: 12px;
}

.socials span {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}

/* COLUMNS */
.footer-col h4 {
  font-size: 13px;
  margin-bottom: 18px;
  color: #fff;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col li {
  font-size: 13px;
  margin-bottom: 12px;
}

/* ================= RESPONSIVE ================= */

/* Tablets */
@media (max-width: 1024px) {
  .footer {
    padding: 50px 25px;
    margin: 20px;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .footer-brand {
    grid-column: span 2; /* brand on top */
  }
}

/* Mobile */
@media (max-width: 768px) {
  .footer {
    padding: 40px 20px;
    margin: 10px;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .footer-brand {
    grid-column: span 1;
    text-align: center;
  }

  .footer-brand p {
    font-size: 13px;
  }

  .footer-col h4 {
    font-size: 14px;
    text-align: center;
  }

  .footer-col li {
    font-size: 13px;
    text-align: center;
  }

  .socials {
    justify-content: center;
  }
}
