.verified-section {
  background: #1e1e1e;
  padding: 70px 60px;
  color: #fff;
}

.verified-header h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.verified-header p {
  max-width: 750px;
  color: #ccc;
  font-size: 15px;
}

.services-row {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.services-row::-webkit-scrollbar {
  height: 6px;
}
.services-row::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

.service-card {
  min-width: 230px;
  height: 260px;
  border-radius: 14px;
  padding: 22px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-card h3 {
  font-size: 20px;
  line-height: 1.3;
}

.service-card p {
  font-size: 13px;
  color: #eee;
}

.service-card .icon {
  position: absolute;
  bottom: 18px;
  right: 18px;
  width: 36px;
  height: 36px;
  border: 2px solid #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

/* COLORS */
.red {
  background: #e61b2f;
}
.purple {
  background: #5b167c;
}
.blue {
  background: #2437e4;
}
.darkblue {
  background: #140f6d;
}
.lightblue {
  background: #4c63d9;
}
.green {
  background: #08a357;
}


@media (max-width: 767px) {
  .services-row {
    gap: 0;
    overflow-x: hidden; /* extra peek band */
  }

  .service-card {
    min-width: 100%;
    height: 240px;
    border-radius: 16px;
  }
}
