* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* BODY extra space hata diya */


/* SECTION */
.hero-sectionn {
  height: 250vh;        /* bas itna hi scroll chahiye */
}

/* STICKY */
.sticky-wrap {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* IMAGE LEFT */
.image-box {
  width: 100vw;
  height: 130vh;
  flex-shrink: 0;
  order: 1;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* TEXT RIGHT */
.text-box {
  width: 0;
  opacity: 0;
  padding: 0;
  transform: translateY(120px);
  order: 2;
}
