.why-section {
    background: #212121;
    padding: 60px 20px;
}

.why-card {
    background: #fff;
    max-width: 1200px;
    margin: auto;
    border-radius: 24px;
    padding: 60px 60px 70px;
}

/* HEADER */
.why-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.why-header h2 {
    font-size: 42px;
    margin-bottom: 12px;
    font-weight: 400;
}

.why-header h2 span {
    font-weight: 800;
}

.why-header p {
    max-width: 720px;
    color: #555;
    font-size: 16px;
    line-height: 1.7;
}

.why-arrow {
    border: 1px solid #000;
    border-radius: 50%;
    padding: 10px;
    font-size: 22px;
    cursor: pointer;
}

/* FEATURES */
.why-features {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.why-item h4 {
    margin: 18px 0 10px;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.why-item p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

/* ICONS */
.icon {
    font-size: 34px;
    display: inline-flex;
}

.icon.blue {
    color: #1e3cff;
}

.icon.red {
    color: #e60023;
}

.icon.purple {
    color: #7a1cff;
}

.icon.orange {
    color: #ff3d00;
}

.icon img {
    width: 42px;
    height: 42px;
    object-fit: contain;
}



/* RESPONSIVE */
@media (max-width: 900px) {
    .why-card {
        padding: 40px 30px;
    }

    .why-header {
        flex-direction: column;
    }

    .why-header h2 {
        font-size: 32px;
    }

    .why-features {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}